body {
	background-image: url("maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

.title_class {
	position: fixed;
	width: 20%;
	z-index: 2;
	top: 0%;
	left: 40%;

	padding: 10px;
	border: 2px solid #555555;
	background-color: #ccc;
	border-radius: 5px;
	text-align: center;
}

.data_border {
	position: fixed;
	width: 20%;
	z-index: 2;
	top: 30%;
	left: 40%;
	
	padding: 10px;
	border: 2px solid #555555;
	background-color: #ccc;
	border-radius: 5px;
	text-align: center;
}

